body{
	width:60%;
	font-family: 'Amaranth', sans-serif, cursive,cambria;
	border:5px #003366 double;
	padding:40px;
	margin-left:250px;	
	}
h1{
	margin-top:0px;
	font-family: 'Amaranth', sans-serif, cursive,cambria;
	color:#003366;
	text-align:center;}
	h3{color:#003366;}
#intro{
	text-align:center;
	margin-top:-10px;
	padding-left:200px;}
img{
	padding-left:200px;
	padding-bottom:20px;}
/* Styling the Images in h1*/
#me_myself,#who{
	padding-left:10px;
	padding-bottom:0px;}
	
div{
	width:600px;
	margin-bottom:0px;}